body {
    background-color: #20B2AA;
}
 
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FFE4C4; /* Cornsilk */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    order: 1;
}

/* The navigation menu links */
.sidenav a {
    padding: 40px 8px 6px 16px;
    text-decoration: none;
    font-size: 40px;
    color: #2F4F4F;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #008B8B;
}

.title {
    text-decoration: underline overline #FFE4C4;
    font-size: 80px;
    color: #2F4F4F;
    display: block;
}

.bodyContainer {
    display: flex;
    margin-left: 160px;
    padding: 0px 10px;
    flex-direction: column;
}


.maincontainer { 
    display: flex;
}

h1 {
    color:#2F4F4F;
    font-size: 35px;
    font-weight:bold;
    /*text-decoration: underline #FFE4C4;*/
}

.contentFlex {
    /*background-color: #FFE4C4;*/
    display:flex;
    /*color:#2F4F4F;*/
    color:#FFE4C4;
    flex-direction: row;
    padding: 15px;
    /*border-radius: 20px;*/
    gap: 20px;
    font-size: 25px;
}

.codeSnip {
    width: 700px;
    height:auto;
}
