body{
    background-color: #2F4F4F;    
}
.bodyContainer {
    display:flex;
    flex-direction:column;
    gap: 20px;
    padding: 20px
}

.topicBox {
    background-color:#eff2f4;;
    border: 5px;
    border-style: outset;
    border-color: grey;
    padding: 15px;
}

.spacer {
    padding: 40px;
}

h1 {
    text-decoration: underline #1DCDFE;
    font-family: "Lucida Console", monospace;	
    font-size:30px;
}

h2{
    font-family:  "Lucida Console", monospace;
    font-size:15px
}

.titleBox{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
.right{
    text-align: right;
}
p {
    font-family: "Courier New", monospace;
    font-size:16px;
    /* font-weight: bold;*/
}

a {
    font-family: "Courier New", monospace;
    font-size:16px;
    text-decoration: underline  #1DCDFE;
    color: black;
}

.navBar{
    width: 4%;
    z-index: 1;
    margin-top: -20px;
    text-align: center;
    padding-bottom:20px;
    
}

.navBar a{
    font-size: 20px;
    font-weight: bold;
}


a:hover {
    /*text-decoration: underline overline black;
     */
    color: #1DCDFE;
}

u{
    text-decoration: underline #1DCDFE;
    font-weight: bold;
}
